$gray: #c2bc96;
$cream: #d8d6b8;
$darkblue: #303c61;
$lightblue: #467097;
$whiteblue: #e4ebef;

.page404 {
  display: grid;
  color: $darkblue;
  grid-template-columns: 1fr 1fr;
  height: 32rem;
  margin-top: 3rem;

  &__box {
    margin: 0rem 2rem 0rem 2rem;
  }

  &__title {
    font-size: 4rem;
    width: 90%;
  }

  &__subtitle {
    color: $darkblue;
    font-size: 3rem; 
    font-weight: 900;
    margin: 1rem;
  }

  &__notice {
    font-size: 2.5rem;
    margin: 2rem 0rem;
    width: 80%;
  }

  &__button {
    background-color: $darkblue;
    color: $cream;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem;
    height: auto;
    width: auto;
  }
}
