$gray: #c2bc96;
$cream: #d8d6b8;
$darkblue: #303c61;
$lightblue: #467097;
$whiteblue: #e4ebef;

.footer {
  align-items: center;
  background-color: $darkblue;
  display: flex;
  height: 3rem;
  justify-content: center;
  padding: 1rem;
  width: 100%;

  &__text {
    color: $cream;
    font-size: 1.5rem;
  }

  &__text--bold {
    font-weight: 700;
  }
}
