html {
  font-family: "Lucida Console", "Courier New", monospace;
}

button {
  background-color: black;
  color: white;
  height: 5rem;
  width: 15rem;
  font-size: 1rem;
  font-weight: bold;
  margin: 4rem 0rem 6rem 0rem;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
}

.box {
  margin: 0rem 2rem 0rem 2rem;
}

.container {
  margin: 0rem;
}

.notice {
  font-size: 1.2rem;
}

.footer{
  color: grey;
  text-align: center;
}

@media (min-width: 768px){
  .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 32rem;
    margin-top: 3rem;
  }

  h1{
    font-size: 3rem;
    width: 90%;
  }

  .notice {
    width: 60%;
  }
}
